# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.sqlite3

# Virtual environment
venv/
.venv/

# Static/Media files (if not needed)
media/
staticfiles/

# VSCode and IDE
.vscode/
.idea/

# Node.js
node_modules/

# Other big files
*.mp4
*.mkv
*.zip
*.tar
*.exe
*.iso
